.table-area {
    background-color: rgb(7, 150, 143);
    padding: 60px 40px;
    width: 53%;
    margin: 0 auto;
    text-align: center;
}
.heading {
    text-align: center;
}
 
marquee {
    padding-top: 20px;
    background-color:brown;
    padding: 5px 0;
    margin-top: 20px;
    color: #fff;
}